
/* Skills */

.header__skills{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.skills{
    list-style-type: none;


}


.skill{
    height: 60px;
    width: 40px;
    padding: 10px 20px;
    background-color: rgb(68, 83, 94);
    display: flex;
    align-items: center;
    flex-direction:column;
    text-align: center;
    border-radius: 20%;

    animation: radial-pulse 2s infinite;
}

.skill:not(:last-child)::after{
    content: "";
    display: flex;
    background-color: rgb(68, 83, 94);
    width: 80px;
    height: 1px;
    position: relative;
    bottom: 30px;
    left: 90px;


}

.skill__title{
    margin: 0;
    /* padding: 3px 4px; */
    border-radius: 20px;
    color: #aaaaaa;
    font-weight: 600;
    font-size: 12px;

    /* background-color:#1f2d3a; */
}

.skill__icon{
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
}

@keyframes radial-pulse {
    0%   {box-shadow: 0 0 0 0em rgba(68, 83, 94, 0.63);}
    100% {box-shadow: 0 0 0 1em rgba(255,100,100,.0);}
}


@media (max-width: 768px) {   
    .header__skills{
        flex-wrap: wrap;
        width: 100%;
        justify-content:space-between;

    }
    .skill{
        padding: 4px 0px;
        width: 30%;
        max-width: 80px;
        margin-bottom: 30px;
        margin-right: 4px;
        border-radius: 10px;
    }

    .skill:not(:last-child)::after{
        display: none;
    }
}

@media (max-width: 400px) {
    .skill{
        padding: 4px 30px;
        max-width: 30px;
        margin-bottom: 30px;
        margin-right: 4px;
        border-radius: 10px;
    }
}