
/* Skills */

.header__skills{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.skills{
    list-style-type: none;


}


.skill{
    height: 60px;
    width: 40px;
    padding: 10px 20px;
    background-color: rgb(68, 83, 94);
    display: flex;
    align-items: center;
    flex-direction:column;
    text-align: center;
    border-radius: 20%;

    

    ;

    animation: radial-pulse 2s infinite;
    animation-delay: 10s;
}

.skill__title{
    margin: 0;
    /* padding: 3px 4px; */
    border-radius: 20px;
    color: #0e1821b7;
    font-weight: 600;
    font-size: 12px;

    /* background-color:#1f2d3a; */
}

.skill__icon{
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
}

@keyframes radial-pulse {
    0%   {box-shadow: 0 0 0 0em rgba(68, 83, 94, 0.63);}
    100% {box-shadow: 0 0 0 1em rgba(255,100,100,.0);}
}