.App{
    color: #fff;
    height: 100vh;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;

}

.portfolio{
    min-height: 100vh;
    background-color: #44535e;

    
}

/* ========= HEADER ========= */
/* Info */

.header{
    padding: 20px 0px 30px 0px;
    background-color: #0e1821;
}

.header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-bottom: 15px;
}

.header__content{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header__avatar{
    display: flex;
    /* border-radius: 20px; */
    /* outline: 3px solid #44535e; */
    box-shadow: 0px 0px 15px #42525c;


}

.header__text{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    color: #aaaaaa;
}

.header__title{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 400;
}

.header__subtitle{
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
}

.header__contacts{
    display: flex;
    flex-direction: row;
}




/* Contacts */

.contacts{
    list-style-type: none;
}

.contact:not(:last-child){
    margin-right: 20px;
    
}
.contact__icon{
    transition: all .4s;

}

.contact__icon:hover{
    transition: all .3s;
    filter: brightness(130%);    
}

.contact__icon{
    width: 50px;
    height: 50px;

    /* border-radius: 50%; */
    /* border: #44535e solid 5px; */
}


@media (max-width: 768px) {
    .header__contacts{
        margin-right: 0px;
        flex-direction: row;
    }
    .contact__icon{
        width: 40px;
        height: 40px;
    }
    .contact:not(:last-child){
        margin-right: 10px;
    }
    .header__avatar{
        display: none;
    }
    .header__info{
        align-items: start;
    }
    .header__text{
        margin: 0;
        margin-top: 10px;
    }
    .header__title{
        margin: 0px;
    }
    .header__subtitle{
        margin-top: 0px;
    }
    .header{
        padding: 10px 0px 10px 0px;
    }


}

@media (max-width: 360px) {
    .contacts{
        flex-direction: column;
    }
    .contact:not(:last-child){
        margin-right: 5px;
        margin-bottom: 0px;
    }
    .contact__icon{
        width: 30px;
        height: 30px;
    }
    .header__title{
        margin-bottom: 25px;
    }
}


/* ========== CONTENT ========== */

.portfolio__content{
    color: #aaaaaa;

}



.content__title{
    text-align: center;
    font-size: 40px;
    text-decoration:none;
    color: #d4d4d4;
    font-weight: 300;
    letter-spacing: 2px;
}


.projects{
    padding: 0;

    list-style-type: none;

}

.project{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #0e1821;
    padding: 20px 0px;

    transition: all 1s;

    margin-bottom: 20px;

}

.project:hover{
    transition: all .5s;
    box-shadow: 0 0 30px #0e1821;
}

.project__image{
    border-radius: 10px;

    margin-left: 20px;
}

.project__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 40px;

}

.project__title{
    margin: 0;
    margin-left: -1px;
    font-weight: 600;
}

.project__stack{
    font-weight: 100;


    list-style-type: none;
    display:flex;
    flex-direction: row;
    margin: 0;
    padding-left:0px;

    font-size: 12px;

}

.stack__item:not(:last-child){
    margin-right: 10px;
}




.project__links{
    position: relative;
    margin-top: 30px;
}

.project__link{

    margin-right: 20px;
    color: #aaaaaa;
    transition: .3s;

}

.project__link:hover{
    transition: .3s;
    color: #e7e7e7;

}

.link__goto{}
.link__code{}


@media (max-width: 768px) {
    .container{
        max-width: 100%;
    }
    .project{
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-bottom: 10px;
    }
    .project__image, .project__info{
        margin: 0;
    }
    

}

@media (max-width: 430px) {
    .project__image{
        width: 250px;
        height: 130px;
    }

    .project__stack{
        text-align: center;
        justify-content: center;
    }


    .project__links{
        text-align: center;
    }
    .project__link{
        text-align: center;

    }
    .project__about{
        max-width: 200px;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
    }

}